* {
  box-sizing: border-box;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;
  --light-light-gray: rgba(120, 118, 118, 0.1);
  --light-gray: rgba(120, 118, 118, 0.5);

  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
}

html {
  background-color: var(--light-light-gray);
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  background-image: url("../images/mountain_landscape_pexels(free_stock_photos).jpeg");
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

.btn-group {
  margin: auto;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.btn {
  width: 80px;
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adds spacing between sections */
  width: 100%;
}

.section {
  width: 100%;
  max-width: 60vw;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: hsla(0, 0%, 0%, 0.7);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form {
  width: 30vw;
}

.form-control {
  background-color: hsla(0, 0%, 0%, 0.7) !important;
  color: green !important;
}

.jumbotron {
  padding: 2rem;
  background-color: hsla(0, 0%, 0%, 0.7);
  border-radius: 10px;
}

/* Lazy Loading Thumbnails */
.lazy {
  filter: blur(5px);
  transition: filter 0.5s ease-in-out;
}

.lazy.loaded {
  filter: blur(0);
}

.zoomable {
  transition: transform 0.3s ease;
}

.zoomable:hover {
  transform: scale(1.05);
}

.card {
  background-color: hsla(0, 0%, 0%, 0.7);
}

.card-text {
  height: 425px; /* Set a fixed height */
  overflow: hidden;
}
